* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvertaStd", sans-serif;
  color: #0F172A;
  outline: none;
  scroll-behavior: smooth;
}

/* FONTS */

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Extrathin.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Thin.ttf");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Semibold.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "AvertaStd";
  src: url("./fonts/AvertaStd-Black.ttf");
  font-style: normal;
  font-weight: 900;
}

#app {
  background: #e4b6a91a;
  height: 100vh;
}